@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>News Portal</h1>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>Welcome to FREE News Portal</h2>
		<p>
			This news portal can be used by anyone,
			anyone can post his own news,
			independent and free.
		</p>
	</div>
</div>