



@if (User.IsInRole("Admin"))
{
	<li class="authorize">
		<h3>@Html.ActionLink("All Authors", "Index", "Authors")</h3>
		<p>Complete list of users</p>
	</li>
	<li class="authorize">
		<h3>@Html.ActionLink("All News", "Index", "News")</h3>
		<p>Complete list of my news</p>
	</li>

}
	